# Importing packages


import streamlit as st
from textblob import TextBlob
from firebase import firebase


#Creating a webpage using Streamlit library


st.title("Sentiment Analysis")
name=st.text_area("Name")
Email=st.text_area("Email")
message=st.text_area("Please Enter the Text")
str1=""
integer=0

# Firebase database Connection


firebase=firebase.FirebaseApplication("https://pythondbtest-f5379-default-rtdb.firebaseio.com/",None)

# Sentimental Analysis Code


if st.button("SUBMIT"):
    blob=TextBlob(message)
    result_sentiment=blob.sentiment


    if  result_sentiment.polarity>0:
        str1="positive"
        st.success("positive")
        st.bar_chart(result_sentiment,result_sentiment.polarity)
        st.success(result_sentiment)
        integer=result_sentiment.polarity


    elif  result_sentiment.polarity<0:
        str1 = "Negative"
        st.success("Negative")
        st.bar_chart(result_sentiment)
        st.success(result_sentiment)
        integer = result_sentiment.polarity


    else:
        st.bar_chart(result_sentiment)
        st.success("Neutral")
        str1 = "Neutral"
        integer=result_sentiment.polarity

# Datas collected to store in the Database


data={
    'Name':name,
      'Email':Email,
      'Message':message,
      'Sentiment':str1,
      'Polarity':integer
      }

# Output


result=firebase.post('pythondbtest-f5379-default-rtdb/Customer:',data)
print(result)
